{% extends 'base.html' %}
{% block content %}
<h1>Смена пароля пользователя</h1>

<form action="{{ url }}" method="POST" style="max-width: 40rem;">
    <div class="row mb-3">
        <label for="password" class="col-sm-4 col-form-label">Старый пароль</label>
        <div class="col-sm-8">
            <input type="password" class="form-control {{ validation['password_old'] }}" name="password_old"
                id="password_old" value="">
            <div id="validation_password_old" class="{{ feedback['password_old'] }}">
                {{ msg['password_old'] }}
            </div>
        </div>

    </div>
    <div class="row mb-3">
        <label for="password" class="col-sm-4 col-form-label">Новый пароль</label>
        <div class="col-sm-8">
            <input type="password" class="form-control {{ validation['password_new'] }}" name="password_new"
                id="password_new" value="">
            <div id="validation_password_new" class="{{ feedback['password_new'] }}">
                {{ msg['password_new'] }}
            </div>
        </div>

    </div>
    <div class=" row mb-3">
        <label for="password" class="col-sm-4 col-form-label">Подтверждение пароля</label>
        <div class="col-sm-8">
            <input type="password" class="form-control {{ validation['password_confirm'] }}" name="password_confirm"
                id="password_confirm" value="">
            <div id="validation_password_confirm" class="{{ feedback['password_confirm'] }}">
                {{ msg['password_confirm'] }}
            </div>
        </div>

    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </div>
</form>
{% endblock %}